* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --blue1: rgb(62, 65, 255);
    --blue2: rgb(131, 131, 250);
    --blue3:  rgb(159, 159, 252);
    --textColor: black;
    --hoverColor: red;
}

p {
    color: var(--textColor);
    font-family: cursive;
    font-size: 24pt;
    font-stretch: semi-expanded;
}

div {
    background-color: var(--blue3);
}

button {
    color:darkorange;
}

#musicPlayer {
    height: 10%;
    width: 100%;
}

#siteHeader {
    height: 10%;
    width: 100%;
    background-color: var(--blue1);
    border-bottom-color: black;
    border-bottom-style: solid;
    border-bottom-width: 5pt;
}

#pageHeader {
    height: 5%;
    width: 100%;
    background-color: var(--blue2);
    border-bottom-color: black;
    border-bottom-style: solid;
    border-bottom-width: 5pt;
}

#menu {
    height: 100%;
    width: 10%;
    background-color: var(--blue1);
    border-right-color: black;
    border-right-style: solid;
    border-right-width: 5pt;
    font-size: 12pt;
    float: left;
}

.menuItems {
    width: 90%;
    height: 10%;
    font-size: 12pt;
    margin: auto;
    font-stretch: normal;
    background-color: var(--blue2);
    border-color: black;
    border-style: solid;
    border-width: 1pt;
    margin: 2%;
}

#pageContents{
    height: 100%;
    width: 90%;
    background-color: var(--blue1);
    border-right-color: black;
    border-right-style: solid;
    border-right-width: 5pt;
    float:right;
}



a:hover{
    color: var(--hoverColor);
    }