:root {
    /* defining color */
    --blue0: #f3f8fa;
    --blue1:#def1fb;
    --blue2: #82BBED;
    --blue3: #619bd1;
    --blue4: #395488;

    --borderColor: var(--blue4);
    --textColor: black;
    --hoverColor: rgb(92, 156, 87);

    --font: Roboto;

    --menuWidth: 150px;
    --siteHeaderHeight: 80px;
    --musicPlayerHeight: 45px;
    --pageHeaderHeight: 60px;
    --lineBorder: 3px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    width: auto;
}

body, button {
    background-color: white;
    color: var(--textColor);
    overflow-x: auto;
    color: var(--textColor);
    font-family: var(--font);
    font-size: 12pt;
    
}

h1 {
    font-size: 25pt;
}

h2 {
    font-size: 23pt ;
}

h3 {
    font-size: 14pt;
    color: black;
}

h4 {
    font-size: 14pt;
    padding: 4px;
}




/* General Things */


/* div {
    background-color: var(--blue3);
} */

/* Page Headings */
#musicPlayer {
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    height: var(--musicPlayerHeight);
    width: 100%;

    /* To control wrapping */
    white-space: nowrap;

    text-align: center;
    font-size: 2.5vh;
    background-color: var(--blue3);

    border-bottom-color: var(--borderColor);
    border-bottom-style: solid;
    border-bottom-width: var(--lineBorder);
}

#siteHeader {
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: left;
    height: var(--siteHeaderHeight);
    margin-top: var(--musicPlayerHeight);
    width: 100%;

    /* To control wrapping */
    white-space: nowrap;    
    font-size: 5vh;
    background-color: var(--blue2);
    border-bottom-color: var(--borderColor);
    border-bottom-style: solid;
    border-bottom-width: var(--lineBorder);
    text-align: left;
    padding: 7px;
    padding-left: 20px;
}


/* The Menu */
#menu {
    position: fixed;
    margin-top: calc(var(--siteHeaderHeight) + var(--musicPlayerHeight));
     /* allow flexbox stuff */
    display: flex;
    flex-direction: column;   /* Stack vertically */
     /* Center items horizontally */
    align-items: center;     

     /* align items at top of menu */
    /* justify-content: flex-start; */
    /* overflow: hidden; */
    /* padding-top: 3px; */

    height: calc(100vh - var(--siteHeaderHeight) - var(--musicPlayerHeight)); 
    width: var(--menuWidth);

    background-color: var(--blue2);
    border-right-color: var(--borderColor);
    border-right-style: solid;
    border-right-width: var(--lineBorder);
}

.menuItems { /* Is actually an href item*/
    display: flex;
    align-items: center;
    justify-content: center;

    width: calc(var(--menuWidth) - 40px);
    height: 30px;
    margin: auto;

    font-stretch: normal;
    font-size: 16pt;
    text-decoration: none;
    color: var(--blue4);

    background-color: var(--blue1);
    border-color: var(--borderColor);
    border-style: solid;
    border-width: 1px;
    margin: 5px;
    
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.1);

}

.menuItems:hover {
    color: var(--blue1);
    background-color: var(--blue4);
    cursor: pointer;
}

/* The Page */
#pageHeader {
    
    display: flex;
    height: var(--pageHeaderHeight);
    width: calc(100% - var(--menuWidth));

    background-color: var(--blue1);
    border-bottom-color: var(--borderColor);
    border-bottom-style: solid;
    border-bottom-width: 1pt;

    text-align: left;
    align-items: center;
    float: right;
    padding: 7px;
    padding-left: 20px;

    box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.1);
}

#pageContents{
    background-color: white;
    padding-top: calc(var(--siteHeaderHeight) + var(--musicPlayerHeight) + 10px);
    padding-left: calc(var(--menuWidth) + 25px);
    padding-bottom: 10px; 

}

#pageData {
    background-color: white;
    padding: 10px;
}

.playShuffleButtons {
    background-color: white;
    display: flex;
    float: center;

    gap: 10px;
    padding: 10px;
}

#playButton, #shuffleButton {
    color:black;
    background-color: white;
    border-color: white;

    /* border-radius: 3px; */
    border-width: 1px;
    border-color: darkslategray;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.1);

    padding: 6px 12px;

    font-size: 14pt;

    background-color: white;
    border-color: var(--borderColor);
}

#playButton:hover, #shuffleButton:hover {
    cursor: pointer;
    background-color: var(--blue4);
    color: white;
}
.musicDataTable {
    border-collapse: collapse;
    float: center;
}

.musicDataHeader {
    font: 14pt;
    text-align: left;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 7px;
    padding-bottom: 7px;

}

.musicDataEntry { /* Actually href items: <td> items*/
    width: calc(100% - 100px);

    text-decoration: none;

    border: 1px;
    border-color: darkslategrey;
    border-bottom-style: solid;
    border-top-style: solid;
    background-color: var(--blue0);
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 7px;
    padding-bottom: 7px;

    border-collapse: separate; /* allows spacing between cells */
    border-spacing: 10px 0;
}

.musicDataEntry:hover{
    background-color: var(--blue1);
    cursor: pointer;
}

.musicLink {
    text-decoration: none;
    color: black;
}

/* #listOfData {

} */

/* .data {

} */