:root {
    /* defining color */
    --blue0: #f3f8fa;
    --blue1:#def1fb;
    --blue2: #82BBED;
    --blue3: #619bd1;
    --blue4: #395488;

    --borderColor: var(--blue4);
    --textColor: black;
    --hoverColor: rgb(92, 156, 87);

    --font: Roboto;

    /* Defining section sizes */
    --menuWidth: 150px;
    --siteHeaderHeight: 80px;
    --musicPlayerHeight: 45px;
    --pageHeaderHeight: 60px;
    --lineBorder: 3px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    width: auto;
}

body, button {
    background-color: white;
    color: var(--textColor);
    overflow-x: auto;
    font-family: var(--font);
    font-size: 12pt;
}

h1 {
    font-size: 25pt;
}

h2 {
    font-size: 23pt ;
}

h3 {
    font-size: 14pt;
    color: black;
}

h4 {
    font-size: 14pt;
    padding: 4px;
}




/* General Things */


/* Page Headings */
#musicPlayer {
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    height: var(--musicPlayerHeight);
    width: 100%;

    /* To control wrapping */
    white-space: nowrap;

    text-align: center;
    font-size: 2.5vh;
    background-color: var(--blue3);

    border-bottom-color: var(--borderColor);
    border-bottom-style: solid;
    border-bottom-width: var(--lineBorder);
}

/* The "Sam & Katelyn's Music Extravaganza" title */
#siteHeader {
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: left;
    height: var(--siteHeaderHeight);
    margin-top: var(--musicPlayerHeight);
    width: 100%;

    /* To control wrapping */
    white-space: nowrap;    
    font-size: 5vh;
    background-color: var(--blue2);
    border-bottom-color: var(--borderColor);
    border-bottom-style: solid;
    border-bottom-width: var(--lineBorder);
    text-align: left;
    padding: 7px;
    padding-left: 20px;
}


/* The Menu */

/* Div element in the page HTML - filler element to be edited */
#menu {
    background-color: var(--blue2);
}

/* Div element in menu.html */
#menuContents {
    position: fixed;
    margin-top: calc(var(--siteHeaderHeight) + var(--musicPlayerHeight));
    display: flex;
    flex-direction: column;   /* Stack vertically */
    align-items: center;    /* Center items horizontally */
    padding-top: 5px;

    height: calc(100vh - var(--siteHeaderHeight) - var(--musicPlayerHeight)); 
    width: var(--menuWidth);

    background-color: var(--blue2);
    border-right-color: var(--borderColor);
    border-right-style: solid;
    border-right-width: var(--lineBorder);
}

.menuItems { /* Is actually an href item*/
    display: flex;
    align-items: top;
    justify-content: center;

    width: calc(var(--menuWidth) - 40px);
    height: 30px;
    margin: auto;

    font-stretch: normal;
    font-size: 16pt;
    text-decoration: none;
    color: var(--blue4);

    background-color: var(--blue1);
    border-color: var(--borderColor);
    border-style: solid;
    border-width: 1px;
    margin: 5px;
    
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.1);

}

.menuItems:hover {
    color: var(--blue1);
    background-color: var(--blue4);
    cursor: pointer;
}

/* The Page */

/* Displays things like an album title, artist name, song name, etc. */
#pageHeader {
    position: fixed;
    display: flex;

    height: var(--pageHeaderHeight);
    width: calc(100% - var(--menuWidth));
    padding: 7px;

    margin-top: calc(var(--siteHeaderHeight) + var(--musicPlayerHeight));
    margin-left: calc(var(--menuWidth));

    background-color: var(--blue1);
    border-bottom-color: var(--borderColor);
    border-bottom-style: solid;
    border-bottom-width: 1pt;

    text-align: left;
    align-items: center;
    float: right;
    padding-left: 20px;

    box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.1);
}

/* Contains the lists of albums, artists, songs, etc. */
#pageContents{
    background-color: white;
    padding-top: calc(var(--siteHeaderHeight) + var(--musicPlayerHeight) + var(--pageHeaderHeight) + 10px);
    padding-left: calc(var(--menuWidth) + 15px);
    padding-bottom: 10px; 

}

#artistName {
    padding-left: 15px;
}

/* Contained in the pageContents div - element to be filled in HTML files */
#pageData {
    background-color: white;
    padding: 10px;
}

/* Div for the pair of buttons */
.playShuffleButtons {
    background-color: white;
    display: flex;
    float: center;

    gap: 10px;
    padding: 10px;
}

/* Attributes for the buttons themselves */
#playButton, #shuffleButton {
    color:black;
    background-color: white;
    border-color: white;

    border-width: 1px;
    border-color: darkslategray;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.1);

    padding: 6px 12px;

    font-size: 14pt;

    background-color: white;
    border-color: var(--borderColor);
}

#playButton:hover, #shuffleButton:hover {
    cursor: pointer;
    background-color: var(--blue4);
    color: white;
}

/* Filler table in HTML files for the songs, albums, artists info to display */
.musicDataTable {
    border-collapse: collapse;
    float: center;
}

.musicDataHeader {
    font: 14pt;
    text-align: left;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 7px;
    padding-bottom: 7px;

}

/* Makes entire cell block clickable */
td > a {
    display: block;
    width: 100%;
    height: 100%;

    /* Padding here instead of in musicDataEntry to make entire cell block in displayed table clickable */
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 7px;
    padding-bottom: 7px;
}

.musicDataEntry { /* Actually href items: <td> items*/
    width: calc(100% - 100px);

    text-decoration: none;

    border: 1px;
    border-color: darkslategrey;
    border-bottom-style: solid;
    border-top-style: solid;
    background-color: var(--blue0);    

    border-collapse: separate; /* allows spacing between cells */
    border-spacing: 10px 0;
}

/* Padding attribute in <a> elements, so padding for non-href table elements */
.nonClickableMusicDataEntry{
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 7px;
    padding-bottom: 7px;
}

/* Hovering properties for music data tables */
.musicDataEntry:hover{
    background-color: var(--blue1);
    cursor: pointer;
}

.nonClickableMusicDataEntry:hover{
    cursor: default;
    background-color: var(--blue0);
}

/* Specifies that href items don't display browser hyperlink defaults */
.musicLink {
    text-decoration: none;
    color: black;
}