<!DOCTYPE html>
<head> 
    <meta charset="UTF-8">
        <title>Sam & Katelyn's Music Extravaganza</title>
        <link rel="stylesheet" type="text/css" 
            href="/static/webapp.css" />
</head>
<body>
    <div id="musicPlayer">
        <h3>--MUSIC PLAYER--</h3>
    </div>

    <div id="siteHeader">
        <h2>Sam & Katelyn's Music Extravaganza</h2>
    </div>

    <div id="pageHeader">
        <span id="">
            <h1 id="">Artists</h1>
        </span>
    </div>

    <div id="menu"> 
        <p>Menu</p>
        <p> <div class="menuItems" id="homeNavButton">
            <a href="">Home</a></div> </p>
        <p> <div class="menuItems" id="playlistsNavButton">
            <a href="">Playlists</a></div> </p>
        <p> <div class="menuItems" id="artistsNavButton">
            <a href="">Artists</a></div> </p>
        <p> <div class="menuItems" id="albumsNavButton">
            <a href="">Albums</a></div> </p>
        <p> <div class="menuItems" id="songsNavButton">
            <a href="">Songs</a></div> </p>
        <p> <div class="menuItems" id="tagsNavButton">
            <a href="">Tags</a></div> </p>
        <p> <div class="menuItems" id="filterNavButton">
            <a href="">Filter</a></div> </p>
    </div>

    <div id="pageContents">
        <div class="playShuffleButtons">
            <button id="playButton">Play</button>
        </div>
    </div>
</body>