
<!DOCTYPE html>
<html>
<head>
    <title>Music API Reference</title>
</head>
<body>
    <pre>
        API Endpoints
        Katelyn Reed & Sam Reiter
        
        
        
        REQUEST: /
        GET parameters: None
        
        RESPONSE:
        A welcome message 
        EXAMPLE: /
        "Hi Welcome to Sam and Katelyn's makeshift music extravaganza!"
        
        
        REQUEST: /help
        GET parameters: none
        
        Response: A message explaining all of the endpoints (this page!)
        
        
        
        ---PAGES RELATED TO ARTISTS---
        
        REQUEST: /1.0/artists
        GET parameters: None
        
        RESPONSE: A JSON list containing a dictionary representing each artist. 
        Each dictionary contains the artist name and ID.
        
        EXAMPLE: /1.0/artists
        [{“artistName”: “ABBA”, “artistID” = 0001}, {“artistName”: “La Bottine 
        Souriante”, “artistID” = 0100},{“artistName”: “Paul Simon”, “artistID” = 1101}]
        
        
        REQUEST: /1.0/artists/<artistName>
        GET parameters:
        - artist (Required): the name of the artists selected from the list of 
        artists in the /artists endpoint
        
        RESPONSE: A json list that contains a dictionary for each album by that artist.
        Each dictionary contains the fields album ID, album name, and album year.
        
        EXAMPLE: /1.0/artists/La%20Bottine%20Souriante
        [{"albumID": 10010, "albumName": "Corial", "albumYear": 2001}, 
        {"albumID": 11011, "albumName": "En Spectacle", "albumYear": 1996}]
        
        
        REQUEST: /1.0/artists/<artistName>/songs?shuffle=shuffle
        GET parameters:
        - artist (Required): the name of the artists selected from the list of 
        artists in the /artists endpoint
        - shuffle (Optional, default = false): tells the database to return the list
        of songs by the artist in a randomized order (based on the tracknumbers)
        
        RESPONSE: A JSON list that contains one dictionary for each song by the specified artist.
        If shuffle = true then return this list in a randomized order.
        
        EXAMPLE: /1.0/artists/Paul%20Simon?shuffle=false
        
        [{song1 by Paul Simon}, {song2 by Paul Simon}, ...]
        
        
        REQUEST: /1.0/artists/<artistName>/<albumName>?shuffle=shuffle
        GET parameters:
        - artist (Required): the name of the artists selected from the list of artists 
        in the /1.0/artists endpoint
        - album (required): the name of the specified album by the specified artist from
        the list of albums on the /1.0/artists/<artist> page
        - shuffle (Optional, default = false): tells the database to return the list of 
        songs on the album in a randomized order (based on the Tracknumbers)
        
        RESPONSE: A JSON list that contains one dictionary which contains a list of songs 
        on the specified album by the specified artist. If play = true, then return all 
        songs in order by tracknumber. If shuffle = true then return this list in a randomized order. 
        If tags are specified, then only return the songs with those tags (still respecting the 
        play/ shuffle orders specified)
        
        EXAMPLE: /1.0/Paul%20Simon/Kodachrome?
        [{“song1 ID”: 0100101, "album": "There Goes Rhymin' Simon [Bonus Tracks]", "length": 
        "215400", "title": "Kodachrome", "artist": "Paul Simon", "tracknumber": "1", 
        "date": "2004"}, … (rest of songs on the album in order)]
        
        
        
        ---PAGES RELATED TO ALBUMS---
        
        REQUEST: /1.0/albums
        GET parameters: None
        
        RESPONSE: A JSON list containing a dictionary representing each album. 
        Each dictionary contains the album name and ID.
        
        EXAMPLE: /albums
        [{"albumName": "Cordial", "albumID": 01}, {"albumName": "En Spectacle", 
        "albumID": 0101} {"albumName": "Gold - Greatest Hits", "albumID": 011001}, 
        {"albumName": "Graceland", "albumID": 011001}, {"albumName": "So Beautiful or 
        So What", "albumID": 10101}, {"albumName": "The Definitive Collection Disc 1", 
        "albumID": 10101001}, {"albumName": "The Definitive Collection Disc 2", "albumID"
        : 1011001}, {"albumName": "There Goes Rhymin' Simon [Bonus Tracks]"", 
        "albumID": 1011001}]
        
        
        REQUEST: /1.0/albums/<albumName>?shuffle=shuffle
        REDIRECTS TO: /1.0/artists/<artist>/<album>?shuffle=shuffle
        GET parameters: 
        - album (Required): the name of the album selected from the list of albums 
        in the /albums endpoint
        - shuffle (Optional, default = false):  tells the database to return the list of 
        songs on the album in a randomized order (based on the Tracknumbers)
        
        RESPONSE: 
        A JSON list that contains a dictionary for each song in the specified album. 
        If shuffle = true then returns the songs in a randomized order.
        The URL redirects based on the album artist that is stored as a parameter
        to the album object (accessible through IDs).
        
        EXAMPLE: /1.0/albums/The%20Definitive%20Collection%20Disc%202?shuffle=true
        [{“songID”: 01110,  "album": "The Definitive Collection Disc 2", 
        "length": "259933", "title": "Angeleyes", "artist": "ABBA", "tracknumber": 
        "2", "date": "2001"}, … (rest of songs on album in random order)]
        
        
        
        ---PAGES RELATED TO SONGS---
        
        REQUEST: /1.0/songs
        GET parameters: None
        
        RESPONSE: A JSON list containing a dictionary representing each song. 
        Each dictionary contains entries for the song ID, title, track mumber, 
        length, and BPM.
        
        EXAMPLE: /1.0/songs
        [{song1 with parameters}, {song2 with parameters}, ...]
        
        
        
        *********************************FUTURE ENDPOINTS*********************************
        These are endpoints that we have not yet implemented as they are a stretch goal
        for our API, but we want to implement when we work on this project for ourselves.
        They are not considered part of the project for the purposes of the class but we 
        wanted to leave them in for documentation purposes.
        
        
        ---PLAYLISTS---
        
        REQUEST: /1.0/playlists
        GET parameters: None
        
        RESPONSE: A JSON list containing a dictionary representing 
        each playlist. Each dictionary contains a playlist name and ID.
        
        EXAMPLE: /playlists
        [{“playlist”: “Favorite Songs”, “playlistID”: 010110}, 
        {“playlist”: “Dancing songs”, “playlistID”: 0110110},
        {“playlist”: “Band”, “playlistID”: 000101}]
        
         
        REQUEST: /1.0/playlists/<playlist>?shuffle=shuffle&tags=tags&contains=contains
        GET parameters: 
        - playlist (Required) - return only the playlist with the name provided 
        (case insensitive).
        - shuffle (Optional, default = false):  tells the database to return 
        the list of songs on the playlist in a randomized order
        - tags (Optional, default = ""): tells the computer to only return songs 
        on the playlist with the specified tag. If no tags are specified, then 
        returns all songs. Any number of tags can be specified from a 
        searchable database of tags.
        - contains (Optional, default = ""): tells the computer to include songs 
        that are contained within another "music structure" (album, artist, or playlist)
        which has been tagged with the specified tag. By default will only return 
        songs with the specified tag
        
        RESPONSE:
        A JSON list of dictionaries of all the songs in the playlist in order 
        based on the order of the playlist, an order which can be altered by 
        the tags and shuffle parameters. Each dictionary will contain information
        about the song. Each dictionary will have the following fields:
        - Song ID - (INTEGER) a unique ID associated with the song 
        - Album - (TEXT) the name of the album that this song was released in
        - Length - (INTEGER) the length of the song in milliseconds
        - Title - (TEXT) the name of the songs
        - Arist - (TEXT) the name of the singer or band that played the songs
        - Tracknumber - (INTEGER) the number of the song in the album
        - Date - (INTEGER) the year that the album was released
        
        EXAMPLE: /1.0/playlists/playlist1
        [{“song1 ID”: 0100101, "album": "There Goes Rhymin' Simon [Bonus Tracks]",
         "length": "215400", "title": "Kodachrome", "artist": "Paul Simon", 
         "tracknumber": "1", "date": "2004"},
        …
        , {“song 5ID”: 01110,  "album": "The Definitive Collection Disc 2", 
        "length": "259933", "title": "Angeleyes", "artist": "ABBA", 
        "tracknumber": "2", "date": "2001"}]
        
        
        
        ---TAGS---
        
        REQUEST: /1.0/tags
        GET Parameters: none
        
        RESPONSE:
        A JSON list that contains 1 dictionary for each tag in the library. The dictionary
        contains a tag ID and a tag name.
        
        EXAMPLE: /tags
        [{'tagID': 101, 'tagName': "hype"}, {'tagID': 11011, 'tagName': 'chill'} ]
        
        
        REQUEST: /1.0/tags?tags=tags
        GET Parameters: 
        - tags (Optional, default = ""): tells the computer to only return the tags with 
        the specified tag. If no tags are specified, then returns all tags. Any number of 
        tags can be specified from a searchable database of tags.
        
        RESPONSE:
        A JSON list that contains 1 dictionary, this dictionary has 1 key, that being “tags”
         and the value being the list of all tags. Each tag will have its own tags, so 
         this list will be sorted like that
        
        EXAMPLE: /tags?tags=vibes,artists
        [{"vibes-101101": [{“tagName”: “active”, “tagID” = 0101}, 
        {“tagName”: “chill”, “tagID” = 0111}, {“tagName”: “running”, “tagID” = 0110} … 
        {“tagName”: “sleep”, “tagID” = 01011}], "artists-0011101":  
        [{“tagName”: “Paul Simon”, “tagID” = 1010}, {“tagName”: “ABBA”, “tagID” = 1001}” 
        …, {“tagName”: “La Bottine Souriante”, “tagID” = 1111}]}]

    </pre>
</body>
</html>