<!DOCTYPE html>
<head> 
    <meta charset="UTF-8">
        <title>Sam & Katelyn's Music Extravaganza</title>
        <link rel="stylesheet" type="text/css" 
            href="{{ url_for('static', filename='webapp.css') }}" />
        <script type="module"
            src="{{ url_for('static', filename='help.js') }}" ></script>
</head>
<body>
    <div id="musicPlayer">
        <h3>--MUSIC PLAYER--</h3>
    </div>

    <div id="siteHeader">
        <h2>Sam & Katelyn's Music Extravaganza</h2>
    </div>

    <div id="pageHeader">
        <h2>API Endoints</h2>
    </div>
    <div id="menu"></div>
    <div id="pageContents">
    <div>
        REQUEST: / <br />
        GET parameters: None <br />
        <br />
        RESPONSE: <br />
        The homepage  <br />
        <br />
        
        REQUEST: /help <br />
        GET parameters: none <br />

         
        Response: A message explaining all of the endpoints (this page!) 
        <br /><br />

        REQUEST: /menuHTML <br />
        GET parameters: None <br />
        <br />
        RESPONSE: the HTML to draw the side menu for every page
        <br />
    </div>
  
    <br/> 
    <br/>
    <h3>---PAGES RELATED TO ARTISTS--- </h3> 
    <br/>
    
    <div>
        REQUEST: api/1.0/artists  <br />
        GET parameters: None  <br />
         <br />
        RESPONSE: A JSON list containing a dictionary representing each artist.  <br />
        Each dictionary contains the artist name and ID. <br />
         <br />
        EXAMPLE: api/1.0/artists <br />
        [{"artistID": 1, "artistName": "ABBA"}, {"artistID": 2, "artistName": "La Bottine Souriante"}, {"artistID": 3, "artistName": "Paul Simon"}] <br />
        <br />
        REQUEST: api/1.0/artists/&lt;artistID&gt;  <br />
        GET parameters:  <br />
        - artist (Required): the name of the artists selected from the list of 
        artists in the /1.0/artists endpoint  <br />
         <br />
        RESPONSE: A json list that contains a dictionary for each album by that artist. <br />
        Each dictionary contains the fields album ID, album name, and album year. <br />
         <br />
        EXAMPLE: api/1.0/artists/2 <br />
        [{"albumID": 4, "albumName": "Cordial", "albumYear": 2001}, {"albumID": 5, "albumName": "En Spectacle", "albumYear": 2006}] <br />
        <br />
        REQUEST: api/1.0/artists/&lt;artistID&gt;/songs?shuffle=shuffle  <br />
        GET parameters: <br />
        - artist (Required): the name of the artists selected from the list of 
        artists in the /artists endpoint <br />
        - shuffle (Optional, default = false): tells the database to return the list of songs by the artist in a randomized order (based on the tracknumbers)  <br />
         <br />
        RESPONSE: A JSON list that contains one dictionary for each album by the specified artist. <br />
        If shuffle = true then return this list in a randomized order. <br />
         <br />
        EXAMPLE: api/1.0/artists/3?shuffle=false <br />
         <br />
        [{"albumID": 7, "albumName": "Graceland", "albumYear": 1986}, {"albumID": 6, "albumName": "So Beautiful or So What", "albumYear": 2011}, {"albumID": 8, "albumName": "There Goes Rhymin' Simon [Bonus Tracks]", "albumYear": 2004}]<br /> 
    </div>

    <br/>
    <br/>
    <h3>---PAGES RELATED TO ALBUMS---</h3>
    <br/>

    <div>
        REQUEST: api/1.0/albums  <br />
        GET parameters: None  <br />
         <br />
        RESPONSE: A JSON list containing a dictionary representing each album. Each dictionary contains the album name and ID. <br />
         <br />
        EXAMPLE: api/albums <br />
        [{"albumID": 1, "albumName": "Gold - Greatest Hits", "albumYear": 1993}, {"albumID": 2, "albumName": "The Definitive Collection Disc 1", "albumYear": 2001}, {"albumID": 3, "albumName": "The Definitive Collection Disc 2", "albumYear": 2001}, {"albumID": 4, "albumName": "Cordial", "albumYear": 2001}, {"albumID": 5, "albumName": "En Spectacle", "albumYear": 2006}, {"albumID": 6, "albumName": "So Beautiful or So What", "albumYear": 2011}, {"albumID": 7, "albumName": "Graceland", "albumYear": 1986}, {"albumID": 8, "albumName": "There Goes Rhymin' Simon [Bonus Tracks]", "albumYear": 2004}] <br />
        <br />
        REQUEST: api/1.0/albums/&lt;albumID&gt;?shuffle=shuffle<br />
        GET parameters: <br />
        - album (Required): the name of the album selected from the list of albums in the /1.0/albums endpoint<br />
        - shuffle (Optional, default = false):  tells the database to return the list of songs on the album in a randomized order (based on the Tracknumbers)<br />
        <br />
        RESPONSE: <br />
        A JSON list that contains a dictionary for each song in the specified album. 
        If shuffle = true then returns the songs in a randomized order.
        The URL redirects based on the album artist that is stored as a parameter
        to the album object (accessible through IDs).<br />
        <br />
        EXAMPLE: api/1.0/albums/1?shuffle=false <br />
        [{"songID": 6, "songName": "Mamma Mia", "trackNumber": 4, "songLength": 213493, "songBPM": 0}, {"songID": 7, "songName": "The Name of the Game", "trackNumber": 17, "songLength": 240000, "songBPM": 0},  … (rest of songs on album in order)]<br />
    </div>
      
    <br/>
    <br/>
    <h3>---PAGES RELATED TO SONGS---</h3>  
    <br/>

    <div>
        REQUEST: api/1.0/songs<br />
        GET parameters: <br />
        -  shuffle (Optional, default = false): tells the database to return the list of songs in a randomized order (based on the songID)
        <br />
        RESPONSE: A JSON list containing a dictionary representing each song. 
        Each dictionary contains entries for the song ID, title, track mumber, 
        length, and BPM.<br />
 
        <br />
        EXAMPLE: api/1.0/songs<br />
        [{"songID": 70, "songName": "A Bas Les Rideaux (Out with the Lies)", "trackNumber": 10, "songLength": 232493, "songBPM": 0, "artistName": "La Bottine Souriante", "albumName": "Cordial"}, {"songID": 64, "songName": "Aim\u00e9", "trackNumber": 6, "songLength": 221626, "songBPM": 0, "artistName": "La Bottine Souriante", "albumName": "Cordial"},  ... (the rest of the songs)]<br />


        REQUEST: api/1.0/songs/&lt;songID&gt<br />
        GET parameters: None<br />
        <br />
        RESPONSE: Responds with all the data about a single song<br />
        <br />
        EXAMPLE: api/1.0/songs/1<br />
        [{"songid": 1, "songname": "Take a Chance on Me", "tracknumber": 3, "songlength": 244466, "songbpm": 0, "artistname": "ABBA", "albumname": "Gold - Greatest Hits"}]<br />
    </div>
    </div>
</body>
</html>