<!DOCTYPE html>
<head> 
    <meta charset="UTF-8">
        <title>Sam & Katelyn's Music Extravaganza</title>
        <link rel="stylesheet" type="text/css" 
            href="{{ url_for('static', filename='webapp.css') }}" />
        <script type="module" 
            src="{{ url_for('static', filename='home.js') }}" ></script>
            
</head>
<body>
    <div id="musicPlayer">
        <h3>--MP3 MUSIC PLAYER WILL GO HERE--</h3>
    </div>

    <div id="siteHeader">
        <h2>Sam & Katelyn's Music Extravaganza</h2>
    </div>

    <div id="pageHeader">
        <!-- <div id="">
            <h1 id="">Home Page</h1>
        </div> -->
        <h1>Home Page</h1>
    </div>

    <div id="menu"></div>

    <div id="pageContents">
        <div id="artists">Artists</div>
        <div id="albums">Albums</div>
        <div id="songs">Songs</div>

        
    </div>
</body>