<!DOCTYPE html>
<head> 
    <meta charset="UTF-8">
        <title>Sam & Katelyn's Music Extravaganza</title>
        <link rel="stylesheet" type="text/css" 
            href="/static/webapp.css" />
</head>
<body>
    <div id="siteHeader">
        <h3>Eventually we will have the music player here</h3>
    </div>
    <div id="pageHeader">
        <h1 id="">PAGE NAME</h1>
        <button id="">Testing</button>
    </div>

    <div id="menu"> 
        <p> <div id="menuItems"><a href="">Home</a></div> </p>
        <p> <div id="menuItems"><a href="">Playlists</a></div> </p>
        <p> <div id="menuItems"><a href="">Artists</a></div> </p>
        <p> <div id="menuItems"><a href="">Albums</a></div> </p>
        <p> <div id="menuItems"><a href="">Songs</a></div> </p>
        <p> <div id="menuItems"><a href="">Tafs</a></div> </p>
        <p> <div id="menuItems"><a href="">Filter</a></div> </p>
    </div>

    <div id="pageContents">
        <p>Contents will go here :)</p>
    </div>
</body>