<!DOCTYPE html>
<head> 
    <meta charset="UTF-8">
        <title>Sam & Katelyn's Music Extravaganza</title>
        <link rel="stylesheet" type="text/css" 
            href="/static/webapp.css" />
</head>
<body>
    <div id="menu"> 
        <div id="menuItems"><p><a href="">Home</a></p></div>
        <div id="menuItems"><p><a href="">Playlists</a></p></div>
        <div id="menuItems"><p><a href="">Artists</a></p></div>
        <div id="menuItems"><p><a href="">Albums</a></p></div>
        <div id="menuItems"><p><a href="">Songs</a></p></div>
        <div id="menuItems"><p><a href="">Tags</a></p></div>
        <div id="menuItems"><p><a href="">Filter</a></p></div>
    </div>

    <div id="pageHeader">

    </div>
</body>