<!-- An old html file for our homepage / serves as a default for formatting -->

<!DOCTYPE html>
<head> 
    <meta charset="UTF-8">
        <title>Sam & Katelyn's Music Extravaganza</title>
        <link rel="stylesheet" type="text/css" 
            href="{{ url_for('static', filename='webapp.css') }}" />
        <script type="module" 
            src="{{ url_for('static', filename='home.js') }}" ></script>
            
</head>
<body>
    <div id="musicPlayer">
        <h3>--MUSIC PLAYER--</h3>
    </div>

    <div id="siteHeader">
        <h2>Sam & Katelyn's Music Extravaganza</h2>
    </div>

    <div id="pageHeader">
        <span id="">
            <h1 id="">Home Page</h1>
        </span>
    </div>

    <div id="menu"></div>

    <div id="pageContents">
        <p id="jeff"> MESSAGE TO JEFF!!!!!!! PLEASE READ</p>
        <p> We don't have a 'get data button' but see below for the buttons we do have that work well!</p>
        <p>Click to the left to navigate to some sweet tunes :)</p>
        <p></p>
        <p>Currently the links to the home page, songs, albums and the artists page work</p>
    </div>
    <button id="something">
        Get Data
    </button>
    <p id="changeSomething"></p>
</body>