<!-- base.html -->
<!--credit: chatGPT for the idea of an HTML "function"-->
<div id="menu"> 
    Menu
    <div class="menuItems" id="homeNavButton">
    <a href="">Home</a></div>
    <div class="menuItems" id="playlistsNavButton">
    <a href="">Playlists</a></div>
    <div class="menuItems" id="artistsNavButton"> <!--{{ url_for('artists') }}-->
    <a href="">Artists</a></div>
    <div class="menuItems" id="albumsNavButton">
    <a href="">Albums</a></div>
    <div class="menuItems" id="songsNavButton">
    <a href="">Songs</a></div>
    <div class="menuItems" id="tagsNavButton">
    <a href="">Tags</a></div>
    <div class="menuItems" id="filterNavButton">
    <a href="">Filter</a></div>
</div>