<!-- base.html -->
<!--credit: chatGPT for the idea of an HTML "function"-->
<div id="menuContents"> 
    <!--Add the playlists, tags, and filter sections back in later-->
    <a class="menuItems" id="homeNavButton" href="{{ url_for('home') }}">Home</a>
    
    <a class="menuItems" id="artistsNavButton" href="{{ url_for('artists') }}">Artists</a>

    <a class="menuItems" id="albumsNavButton" href="{{ url_for('albums') }}">Albums</a>

    <a class="menuItems" id="songsNavButton" href="{{ url_for('songs') }}">Songs</a>
</div>