<!-- ALBUMS -->

<!DOCTYPE html>
<head> 
    <meta charset="UTF-8">
        <title>Sam & Katelyn's Music Extravaganza</title>
        <link rel="stylesheet" type="text/css" 
            href="../static/mockup.css" />
</head>
<body>
    <div id="musicPlayer">
        <h3>--MUSIC PLAYER--</h3>
    </div>

    <div id="siteHeader">
        <h2>Sam & Katelyn's Music Extravaganza</h2>
    </div>

    <div id="pageHeader">
        <div>
            <!--Normally blank element to fill with header contents-->
            <!--Like name of artist, name of album, etc.-->
            <h1>Paul Simon</h1>
        </div>
    </div>

    <div id="menu"> 
        <p>Menu</p>
        <p> <div class="menuItems" id="homeNavButton">
            <a href="">Home</a></div> </p>
        <p> <div class="menuItems" id="playlistsNavButton">
            <a href="">Playlists</a></div> </p>
        <p> <div class="menuItems" id="artistsNavButton">
            <a href="">Artists</a></div> </p>
        <p> <div class="menuItems" id="albumsNavButton">
            <a href="">Albums</a></div> </p>
        <p> <div class="menuItems" id="songsNavButton">
            <a href="">Songs</a></div> </p>
        <p> <div class="menuItems" id="tagsNavButton">
            <a href="">Tags</a></div> </p>
        <p> <div class="menuItems" id="filterNavButton">
            <a href="">Filter</a></div> </p>
    </div>

    <div id="pageContents">
        <div class="playShuffleButtons">
            <button id="playButton">Play</button>
            <button id="shuffleButton">Shuffle</button>
        </div>
        <div id="pageData">
            <!--Blank element to take data inputs-->
            <!--Individual data items will be div objects of class "data"-->
            <!--Will be created and modified by the JavaScript file-->
            <table class="musicData">
                <tr> <td>Graceland</td></tr>
                <tr> <td>So Beautiful or So What</td></tr>
                <tr> <td>There Goes Rhymin' Simon</td></tr>
            </table>
        </div>
        
    </div>
</body>