<!-- SONGS -->

<!DOCTYPE html>
<head> 
    <meta charset="UTF-8">
        <title>Sam & Katelyn's Music Extravaganza</title>
        <link rel="stylesheet" type="text/css" 
            href="{{ url_for('static', filename='webapp.css') }}" />
        <script type="module"
            src="{{ url_for('static', filename='songs.js') }}" ></script>
</head>
<body>
    <div id="musicPlayer">
        <h3>--MUSIC PLAYER--</h3>
    </div>

    <div id="siteHeader">
        <h2>Sam & Katelyn's Music Extravaganza</h2>
    </div>

    <div id="pageHeader">
        <span id="">
            <h1 id="">Songs</h1>
        </span>
    </div>

    <div id="menu"></div>

    <div id="pageContents">
        <div class="playShuffleButtons">
            <button id="playButton">Alphabetical</button>
            <button id="shuffleButton">Shuffle</button>
        </div>
        <div id="pageData">
            <!--Blank element to take data inputs-->
            <!--Individual data items will be div objects of class "data"-->
            <!--Will be created and modified by the JavaScript file-->
        </div>
        
    </div>
</body>