<!-- SONGS -->

<!DOCTYPE html>
<head> 
    <meta charset="UTF-8">
        <title>Sam & Katelyn's Music Extravaganza</title>
        <link rel="stylesheet" type="text/css" 
            href="../static/webapp.css" />
        <script src="static/webapp.js"></script>
</head>
<body>
    <div id="musicPlayer">
        <h3>--MUSIC PLAYER--</h3>
    </div>

    <div id="siteHeader">
        <h2>Sam & Katelyn's Music Extravaganza</h2>
    </div>

    <div id="pageHeader">
        <span id="">
            <h1 id="">There Goes Rhymin' Simon by Paul Simon</h1>
        </span>
    </div>

    <div id="menu"></div>

    <div id="pageContents">
        <div class="playShuffleButtons">
            <button id="playButton">Play</button>
            <button id="shuffleButton">Shuffle</button>
        </div>
        <div id="pageData">
            <!--Blank element to take data inputs-->
            <!--Individual data items will be div objects of class "data"-->
            <!--Will be created and modified by the JavaScript file-->

            <table class="musicDataTable">
                <tr><td class="musicDataEntry"><p>Kodachrome</p></td></tr>
                <tr><td class="musicDataEntry"><p>Tenderness</p></td></tr>
                <tr><td class="musicDataEntry"><p>Take Me to the Mardi Gras</p></td></tr>
                <tr><td class="musicDataEntry"><p>Something So Right</p></td></tr>
                <tr><td class="musicDataEntry"><p>One Man's Ceiling Is Another Man's Floor</p></td></tr>
                <tr><td class="musicDataEntry"><p>American Tune</p></td></tr>
                <tr><td class="musicDataEntry"><p>Was a Sunny Day</p></td></tr>
                <tr><td class="musicDataEntry"><p>Learn How to Fall</p></td></tr>
                <tr><td class="musicDataEntry"><p>St. Judy's Comet</p></td></tr>
                <tr><td class="musicDataEntry"><p>Loves Me Like a Rock</p></td></tr>
            </table>
        </div>
        
    </div>
</body>