<!--Formatting taken from template provided in Jeff's cs257 repo-->

<!DOCTYPE html>
<html>
<head>
    <title>Music Genre API Reference</title>
</head>
<body>
    <pre>Music Genre API: endpoint reference
All responses are in JSON

REQUEST: /
RESPONSE:
    Greeting from the Music API home page.

REQUEST: /help
RESPONSE:
    This message

REQUEST: /genre/{genre}
RESPONSE:
    Will return a list of songs from the music library in the specified genre (case-insensitive).
    Will return an empty list if no songs of that genre are in the library.


    </pre>
</body>
</html>